//- Simple logo img wrapped in an anchor link
//- -----------------------------------------
//- ATTRIBUTES
//- url - the url to the tool source
//- logo - tool logo
//- name - used for alt tag

a(href=url || "#" target="_blank" ref="noopener noreferrer")
  img(src=logo alt=name height="40" style="max-width: 100%;")
