//- Simple logo img wrapped in an anchor link
//- -----------------------------------------
//- ATTRIBUTES
//- url - the url to the tool source
//- logo - tool logo
//- name - used for alt tag

a(href=url || "#")
  img(src=logo alt=name width="40" height="40" style="max-width: 100%;")
